section {
  margin-top: 70px;
  padding-block: 60px;
  color: var(--main-color);
}

section .star-icon::after {
  left: 52%;
  background-color: var(--main-color);
}

section .star-icon::before {
  right: 52%;
  background-color: var(--main-color);
}

.form-control {
  box-shadow: none !important;
}

section form button {
  background-color: var(--bg-color);
  color: var(--white-color);
}

section form .btn{
    padding: 5px 10px ;
}