

<section>
<div class="container  text-center">

 <h2 class="text-uppercase">contact section</h2>

    <div class="star-icon ">
      <i class="fa-solid fa-star"></i>
    </div>



<form action=" "  class="pt-5 w-50 m-auto"> 
<input type="text" placeholder="userName" class="form-control  border-0 border-bottom rounded-0 mb-5">
<input type="text" placeholder="userAge" class="form-control border-0 border-bottom rounded-0 mb-5">
<input type="text" placeholder="userEmail" class="form-control border-0 border-bottom rounded-0 mb-5">
<input type="text" placeholder="userPassword" class="form-control border-0 border-bottom rounded-0 mb-5">
<div class="d-float"> 
<button class="btn float-start clearfix">send Message</button>
</div>
</form>





</div>
    
</section>