




section {
    background-color: var(--bg-color);
  margin-top: 70px;
  padding-block: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
color:var(--white-color) ; 
}

section span {
  font-family: roboto-regular;
}





